@import "library.less";

html {
	
body {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:20px;
		height:100%;
    
    .blog-post{
        h1{
            font-size: 6vw;
            margin-bottom:100px;
        }
        .blog-post-content{
            p{
            text-align: left;
                margin-bottom: 25px;
            }
        }
    }
	a {
		color:blue;
	}
	h2 {
		margin-bottom: 15px;
	}
}
main {
	header {
		height:100vh;
		position:relative;
	}
	h2 {
		font-size:45px;
	}
}
.container {
	padding: 100px 0;
}
section {
	margin-bottom: 25px;
	p {
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	label {
		margin-bottom:10px;
	}
}
#push-menu {
	margin:0;
}
.section-title {
	margin-bottom: 15px;
	text-align: center;
	h2 {
		margin-bottom: 15px;
	}
}
#about-us {
	background: @black;
	color:#ffffff;
	p {
		margin-top:50px;
	}
}
    #blog{
        background: #333;
        padding: 100px;
    }
#logo-row {
    height:100vh;
    position: absolute;
    z-index:9;
    width: 100%;
    &.fixed-header{
        #logo{
            position: fixed;
            top: 0;
            z-index: 3;
        }
    }
    #logo {
        border:3px solid @green;
        bottom: 0;
        color:@green;
        float:right;
        font-style: italic;
        font-weight:900;
        height: 40px;
        margin:40px;
        padding:5px;
        position: absolute;
        right: 0;
        background:#fff;
    }
}
.thought-image {
	font-size: 48px;
	min-height: 220px;
	padding-top: 35px;
}
.mobile.thought-image {
	padding-top: 15px;
}
.thought-text {
	font-size: 22px;
	text-align: justify;
}
.grid {
	display:block;
	margin-left:auto;
	margin-right: auto;
	width:60%;
}
.animate-width {
	transition-duration: 0.2s;
	transition-property: width;
	transition-timing-function: ease-in-out;
}
.grid-item {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	margin: 5px;
	text-align: center;
	.grid-item-table {
		display:table;
		height:100%;
		width:100%;
		.mask {
			background: white;
			display:none;
			height:100%;
			left:0;
			opacity: 0.8;
			position:absolute;
			top:0;
			width:100%;
			z-index: 2;
		}
		.info {
			display:none;
			position:relative;
			vertical-align: middle;
			z-index:3;
		}
	}
}
.mobile-resp {
	background-image: url('../img/blog-email_sign.png');
	height:150px;
	width: 300px;
}
.wow {
	background-image: url('../img/wow.png');
	height: 188px;
	width: 267px;
}
footer {
	padding: 50px 0;
}
}